<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorized Access</title>
</head>
<body>
    <script src="https://kit.fontawesome.com/52ee0b2ef0.js" crossorigin="anonymous"></script>
    <%- include("header") -%>

    <style>
        *{
            margin: 0px;
            padding: 0px;
            background-color: black;
        }
        .content{
            color: #ffff;
            font-size: 25px;
            font-family: monospace;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
    

    <div class="content">
        <div >
            <i class="fa-solid fa-check fa-2xl" style="color: #10f000; font-size: 150px;"></i>
        </div>
        <div>
            <p>Authentication Successfull !!! Welcome to website </p>
        </div>
        
    </div>

    
</body>
</html>